form {
   margin: 10px 20%;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
   padding: 5%;
}

fieldset {
   border: none;
}

legend {
   text-align: center;
   font-size: 1.2em;
   padding-top: 10px;
}

label {
   display: block;
   margin-bottom: 5px;
   font-weight: 500;
   padding: 10px 0;
}

input[type="text"],
select {
   width: 100%;
   padding: 8px 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 6px;
   box-sizing: border-box;
   font-size: 1em;
   height: 2rem;
   color: var(--color-dark);
}

input[type="radio"] {
   margin-right: 5px;
}

input[type="radio"]:checked + * {
   color: var(--color-bright);
}

label[for="snack"],
label[for="breakfast"] {
   margin-right: 15px;
   display: inline-block;
}
