form {
   margin: 10px 10%;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
   padding: 5%;
}

fieldset {
   border: none;
}

legend {
   text-align: center;
   font-size: 1.2em;
   padding-top: 10px;
}

label {
   display: block;
   margin-bottom: 5px;
   font-weight: 500;
   padding: 10px 0;
}

input[type="text"],
select {
   width: 100%;
   padding: 8px 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 6px;
   box-sizing: border-box;
   font-size: 1em;
}

input[type="radio"] {
   margin-right: 5px;
}

label[for="snack"],
label[for="breakfast"] {
   margin-right: 15px;
   display: inline-block;
}

button {
   background-color: #4caf50;
   color: white;
   padding: 10px 18px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-size: 1em;
   transition: background-color 0.3s ease;
   width: 100%;
}

button:hover {
   box-shadow: inset 1px 1px 20px #143722;
   color: rgba(255, 255, 255, 0.6);
}
