* {
   margin: 0;
   padding: 0;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 16px;
}

body {
   display: grid;
   row-gap: 3%;
   width: 100vw;
   grid-template-rows: 60px 3fr 1fr;
}

header {
   padding: 30px 20%;
   grid-row: 1 / 2;

   ul {
      list-style: none;
      display: flex;
      gap: 10px;
      width: 100%;
   }

   ul li {
      white-space: nowrap;
      flex: 1;
      text-align: center;
   }
   a {
      height: 40px;
   }
}

main {
   padding: 0 20%;
   grid-row: 2 / 3;

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
   }
   .video-container {
      overflow: hidden;
      max-width: 100%;
      background: #000;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      margin: 5%;
   }

   .video-container iframe {
      width: 600px;
      height: 300px;
      border: 0;
   }
}

h1 {
   padding: 20px 0;
   font-size: 2em;
}

h2 {
   padding-bottom: 20px;
   font-size: 1.5em;
}

p {
   padding: 10px 0;
}

footer {
   padding: 30px 20%;
   grid-row: 3 / 4;

   p {
      padding: 3px 0;
   }
   background-color: rgba(195, 240, 197, 0.5);
}

a {
   text-decoration: none;
   color: rgb(36, 110, 38);
}

a:hover {
   color: rgb(76, 175, 80);
}
