:root {
   --color-primary: rgba(195, 240, 197, 0.5);
   --color-bright: rgb(76, 175, 80);
   --color-dark: rgb(36, 110, 38);
}

* {
   margin: 0;
   padding: 0;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 16px;
}

body {
   display: grid;
   row-gap: 3%;
   width: 100vw;
   height: 100vh;
   grid-template-rows: 60px 3fr 1fr;
}

header {
   height: 1rem;
   padding: 30px 20%;
   grid-row: 1 / 2;

   ul {
      list-style: none;
      display: flex;
      gap: 10px;
      width: 100%;
   }

   ul li {
      white-space: nowrap;
      flex: 1;
      text-align: center;
   }
   a {
      height: 40px;
   }

   border-bottom: 5px solid rgba(195, 240, 197, 0.5);
}

main {
   padding: 0 20%;
   grid-row: 2 / 3;

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
   }
   .video-container {
      overflow: hidden;
      max-width: 100%;
      background: #000;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      margin: 5%;
   }

   .video-container iframe {
      width: 600px;
      height: 300px;
      border: 0;
   }
}

footer {
   padding: 30px 20%;
   grid-row: 3 / 4;
   p {
      padding: 3px 0;
   }
   background-color: var(--color-primary);
   #end {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   p {
      padding: 1px 10px;
   }
}

h1 {
   padding: 20px 0;
   font-size: 2em;
}

h2 {
   padding-bottom: 20px;
   font-size: 1.5em;
}

h3 {
   padding-bottom: 5px;
   font-size: 1em;
}

p {
   padding: 10px 0;
}

a {
   text-decoration: none;
   color: var(--color-dark);
}

a:hover {
   color: var(--color-bright);
}

.button {
   background-color: var(--color-bright);
   color: white;
   padding: 10px 18px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-size: 1em;
   transition: background-color 0.3s ease;
   width: 100%;
}
.button:hover {
   box-shadow: inset 1px 1px 30px #14372259;
   color: rgba(255, 255, 255, 0.9);
}
