* {
   margin: 0;
   padding: 0;
}

body {
   display: grid;
   margin: 30px 20%;
   row-gap: 3%;
   height: 100vh;
   grid-template-rows: 10px 3fr 1fr;
}

header {
   grid-row: 1 / 2;

   ul {
      list-style: none;
      display: flex;
      gap: 10px;
      width: 100%;
   }

   ul li {
      white-space: nowrap;
      flex: 1;
      text-align: center;
   }
}

main {
   grid-row: 2 / 3;
   width: 100%;
   div {
      display: flex; 
      justify-content: center;
      align-items: center;
   }
}

h1 {
   padding: 20px 0;
}
h2 {
   padding-bottom: 20px;
}
p {
   padding: 10px 0;
}


footer {
   grid-row: 3 / 4;
   p {
      padding: 3px 0;
   }
}