table {
   align-self: center;
   margin: 10px 20%;
   border-collapse: collapse;
   font-family: "Arial", sans-serif;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

table th {
   text-align: left;
   padding: 16px;
   font-size: 16px;
   border-bottom: 2px solid #333;
   background-color: var(--color-primary);
}

table td {
   padding: 10px 10px;
   font-size: 15px;
}

table .price {
   text-align: right;
   white-space: nowrap;
}

/* table td:nth-child(2),
table th:nth-child(2) {
   padding-right: 10px;
} */

.menu-tables {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   row-gap: 2em;
}

table hr {
   border: none;
   border-top: 1.5px solid #666;
   margin: 20px 30%;
}

table tr:nth-child(odd) {
   background-color: #e2e2e2ab; /* светло-серый фон для нечётных строк */
}

table tr:last-child td {
   padding-bottom: 10px;
}
