.menu-table {
   align-self: center;
  width: 70%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
}

.menu-table th {
  text-align: left;
  padding: 8px;
  font-size: 16px;
  border-bottom: 2px solid #333;
}

.menu-table td {
  padding: 6px 8px;
  font-size: 15px;
}

.menu-table td:nth-child(2),
.menu-table td:nth-child(4), .menu-table th:nth-child(2), .menu-table th:nth-child(4) {
  text-align: right;
  white-space: nowrap;
}

.menu-table hr {
  border: none;
  border-top: 1.5px solid #666;
  margin: 20px 30%;
}

.menu-table tr:nth-child(odd) {
  background-color: #e2e2e2ab; /* светло-серый фон для нечётных строк */
}